/*dashboard.component.scss*/
body {
  .no-scroll {
  overflow: hidden;
  }
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #fa1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #25eb0b;
}
